
@media (prefers-color-scheme: dark) {
	:root {
		--color2: #0a0a0a;
		--color3: #fffab575;
		--color4: #a0a0a0;
		--color5: #ffffffbd;
		--color6: #212121;
		--color7: #1b1b1b;
		--color8: #bfbfbf;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--color2: #b8dbd9;
		--color3: #586f7c;
		--color4: #2f4550;
		--color5: #000000;
		--color6: #97b9b7;
		--color7: #9ed8d5;
		--color8: #11342c;
	}
}


* {
	box-sizing: border-box;
}

html, body {
    margin: 0px;
    position: relative;
    min-height: 100%;
    height: auto;
}

header {
	text-align: center;
	color: var(--color5);
	background-color: var(--color2);
	padding: 20px;
}

.border {
	border: dotted;
	border-color: var(--color3);
	border-radius: 15px;
	padding: 10px;
}

/*container for both sides*/
.row {
	display: flex;
	font-size: larger;
	color: var(--color8);
	height: 100%;
	text-align: center;
}

/*left side*/
.side {
	min-width: 200px;
	background-color: var(--color6);
	padding: 20px;
}

/*info side*/
main {
	flex: 80%;
	background-color: var(--color7);
	padding: 20px;
}


code {
	padding: 2px;
	margin: 2px;
	border-style: solid;
	border-radius: 5px;
	background-color: var(--color2);
	border-color: var(--color7);
}


.line {
	border: 2px solid;
	border-radius: 10px;
	border-color: var(--color6);
	background-color: var(--color6);
}
.underline {
	border-bottom: 1px solid;
	border-color: var(--color6);
}

.autoresize {
	overflow-x:auto;
}

table{
	border: 1px solid;
	border-radius: 5px;
	border-color: var(--color2);
	border-collapse: collapse;
}
td, th {
	border: 1px solid;
	border-color: var(--color2);
	text-align: left;
	font-size: smaller;
	padding: 5px 8px;
}
tr:nth-child(even) {
	background-color: var(--color6)
}


.content_button {
	width: 100%;
	margin-bottom: 2px;
	display: block;
	padding: 2px;
	border: 1px groove;
	border-radius: 5px;
	background-color: var(--color6);
	color: var(--color4);
	border-color: var(--color2);
}

.content_button:disabled {
	background-color: var(--color7);
	color: var(--color5); 
	border-color: var(--color2);
}


footer {
	background-color: var(--color2);
	color: var(--color4);
	display: flex;
	position: sticky;
	bottom: 0;
	font-size: small;
	text-align: center;
}
#ip {
	flex: 40%;
	text-align: left;
	padding-left: 10px;
}
#cc {
	flex: 20%;
	font-size: smaller;

}
#version {
	flex: 40%;
	text-align: right;
	padding-right: 10px;
}

@media screen and (max-width: 800px) {
	.row {
		flex-direction: column;
	}
}