
@media (prefers-color-scheme: dark) {
	:root {
		--color1: #121212;
		--color2: #0D2818;
		--color3: #04471C;
		--color4: #058C42;
		--color5: #16DB65;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--color1: #f4f4f9ff;
		--color2: #b8dbd9ff;
		--color3: #586f7cff;
		--color4: #2f4550ff;
		--color5: #000000ff;
	}
}


* {
	/*NORMALIZE*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

html, body 
{ 
    height: 100%; 
}

p { 
	position: relative;
	text-align: center;
}